<div class="layout-wrapper">

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <nav class="bottom-nav">

    <a routerLink="/tabs/dashboard"
       routerLinkActive="active"
       class="nav-item">
      <ion-icon name="home-outline"></ion-icon>
      <span>Início</span>
    </a>

    <a routerLink="/tabs/activities"
       routerLinkActive="active"
       class="nav-item">
      <ion-icon name="checkmark-done-outline"></ion-icon>
      <span>Atividades</span>
    </a>

    <a routerLink="/tabs/schedule"
       routerLinkActive="active"
       class="nav-item">
      <ion-icon name="calendar-outline"></ion-icon>
      <span>Agenda</span>
    </a>

    <a routerLink="/tabs/profile"
       routerLinkActive="active"
       class="nav-item">
      <ion-icon name="person-outline"></ion-icon>
      <span>Perfil</span>
    </a>

  </nav>

</div>